# https://help.github.com/en/articles/about-code-owners
# This should default to your GitHub team, as in
# * @puppetlabs/release-engineering

# All GitHub workflows and changes to them should be reviewed
/.github/workflows/ @puppetlabs/workflow-security-review
